<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/48c989e617.js" crossorigin="anonymous"></script>
    <title>Profile</title>
</head>
<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col">
            <a href="{% url "events:event-list" %}" type="button" class="btn btn-primary btn-lg btn-block"><i class="fas fa-calendar-alt"></i> Events
            </a>
            <a href="{% url "accounts:profile-view" %}" type="button" class="btn btn-secondary btn-lg btn-block"><i class="fas fa-user-friends"></i> My
                profile
            </a>
        </div>
        <div class="col">
            <h1>My profile</h1>
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Name</h6>
                    <h5 class="card-title">{{ user.username }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Email</h6>
                    <h5 class="card-title">{{ user.email }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                    <h5 class="card-title">?</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Password</h6>
                    <h5 class="card-title">------------</h5>
                    <a href="#" type="button"
                       class="btn btn-outline-primary">Edit</a>
                </div>
            </div>
        </div>
        <div class="col-5">
            <h1>My meetings</h1>
            {% for event in events %}
                <div class="card" style="width: 28rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ event.event.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Hosted by: {{ event.event.owner_id.username }} </h6>
                    <h6 class="card-subtitle mb-2 text-muted"> {{ event.occupied_from }} - {{ event.occupied_to }} </h6>
                    <p class="card-text">{{ event.event.description }}</p>

                </div>
            {% empty %}
                <li>No events yet.</li>
            {% endfor %}
            </div>
        </div>
    </div>

</html>